html, body {

    height: 100% !important;
    margin: 0 !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background: rgb(2,46,135) !important;
background: linear-gradient(118deg, rgba(2,46,135,1) 0%, rgba(0,49,151,1) 37%, rgba(35,118,212,1) 100%) !important;

}

h4 {
    color: #002D87;
    font-weight: 700;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 55px !important;
}

.container .icon {
    position: relative;
    float: left;
    margin-left: 0px;
    margin-top: -45px;
    font-size: 12px;
    z-index: 2;
    color: #012d74;
  }

.floating-logo {
    position: absolute;
    top: 30px;
    left: 50px;
}

.login-box {
    margin-top: 75px;
    padding: 40px 45px;
    height: auto;
    background: #fff;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.login-form {
    margin-top: 25px;
    text-align: left;
}

input[type=text], input[type=password] {
    padding-left: 15px;
    border: none;
    border-bottom: 1px solid #7194BD;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 40px;
    outline: 0px;
}


input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

label {
    margin-bottom: 0px;
}

.form-control-label {
    font-size: 14.5px;
    color: #002D87;
    font-weight: 800;
}

.btn-primary {
    background-color: #ff7800;
    border-color: #ff7800;
    color: #fff;
    border-radius: 20px;
    font-weight: bold;
}

.btn-primary:hover {
    color: #fff;
    background-color: #ff9333;
    border-color: #ff9333;
}

.login-btm {
    float: left;
}

.login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
}

.login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.loginbttm {
    padding: 0px;
}